/*Overflow Elements*/
div.visible {
	overflow: visible;
	padding: 4px;
	background-color: #80422a;
	border: 2px solid black;
	height: 100px;
}

div.hidden {
	overflow: hidden;
	padding: 4px;
	background-color: #80422a;
	border: 2px solid black;
	height: 100px;
}

div.scroll {
	overflow: scroll;
	padding: 4px;
	background-color: #80422a;
	border: 2px solid black;
	height: 100px;
}

div.auto {
	overflow: auto;
	padding: 4px;
	background-color: #80422a;
	border: 2px solid black;
	height: 100px;
}