/*List Elements*/
.white-list ul li {
	color: #b9a5a5;
}

.white-list ol li {
	color: #b9a5a5;
}

.white-list table td {
	color: white;
}

.white-list p {
	color: white;
}

.black-list ul li {
	color: #131313;
}

.black-list ol li {
	color: #131313;
}

.black-list p {
	color: black;
}

/*Browser type of list*/
.list-disc ul li {
	list-style-type: disc;
}

.list-circle ul li {
	list-style-type: circle;
}

.list-square ul li {
	list-style-type: square;
}

.list-none ul li {
	list-style-type: none;
}

/* List Spacing */
.list-spacing ol li {
	margin-bottom: 1.5em;
}

.list-spacing ul li {
	margin-bottom: 1.5em;
}
