/*Line elements*/
.line {
	border: 1px solid #1c1c1c; /*#1c1c1c; or black*/
	width: calc(100% + 20px * 2);
	margin-left: -20px;
}

.line.line-white {
	border: 1px solid #d3caca;
}

.line.line-gray {
	border: 1px solid #696969;
}
