/* styl dla "modal" */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal img {
	margin: auto;
	display: block;
	max-width: 90%;
	max-height: 90%;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.close {
	color: #fff;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
