/*  text-content elements */
/*
.text-content code{
		background-color: #1e1e1e;
		font-size: 16px;
		color: #e4e4e4;
		padding: 4px 7px 4px;
		line-height: 160%;
		margin: 3px;
		border-radius: 5px;
}
*/
.text-content p {
	line-height: 2em;
}

.paragraf-margin-left p {
	margin-left: 0;
}

.line-height-text p, h3, h4 {
	line-height: 2em;
}

.text-centered {
	text-align: center;
}

.text-left {
	text-align: left !important;
}


@media only screen and (min-width: 992px) {
	.text-content {
		padding: 20px;
		text-align: center;
	}

	.text-centered {
		text-align: inherit;
	}

	.paragraf-margin-left p {
		margin-left: 20px;
	}
}

.text-content-500width {
	max-width: 100%;
}

@media only screen and (min-width: 992px) {
	.text-content-500width {
		max-width: 500px;
	}
}


