@import url('css/global_css.css');
@import url('css/alert_card.css');
@import url('css/article_contents.css');
@import url('css/bootstrap_elements.css');
@import url('css/browser.css');
@import url('css/button.css');
@import url('css/code_block.css');
@import url('css/colors.css');
@import url('css/display_elements.css');
@import url('css/dropdown.css');
@import url('css/example_elements.css');
@import url('css/formated_text.css');
@import url('css/highlight_text.css');
@import url('css/images.css');
@import url('css/lightbox.css');
@import url('css/line.css');
@import url('css/list.css');
@import url('css/margin.css');
@import url('css/modal.css');
@import url('css/navbar.css');
@import url('css/output.css');
@import url('css/overflow.css');
@import url('css/page_content_and_grid.css');
@import url('css/roadmap_list.css');
@import url('css/table.css');
@import url('css/text_container.css');
@import url('css/text_content.css');
@import url('css/tooltip.css');
@import url('css/links.css');
@import url('css/padding.css');

@import url('css-chillcode/text-formated.css');


html, body {
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #27282c;
	/*background-color: #1f2223;*/
}

body {
	min-height: 100vh;
	flex-direction: column;
	display: flex;
}

/* to może być do zmiany w body overflow-x: hidden; */

@media only screen and (min-width: 1200px) {
	html {
		position: relative !important;
	}
}






























