
.form {

}

.form textarea {
	height: 96px;
	resize: none;
}

.form label {
	font-size: 1rem;
	line-height: 20px;
	width: 100%;
	margin-bottom: 8px;
	display: block;
	color: rgba(37, 38, 94, .7);
	font-weight: 600;
}

.form input, textarea, select {
	border: 1px solid #aab9cb !important;
	border-radius: 4px !important;
	padding: 14px 16px;
	width: 100%;
	appearance: none;
	background-color: transparent;
	outline: none;
	margin-bottom: 3rem;
	font-size: 1rem;
}


input, textarea, button {
	font-family: "euclid_circular_a", "Arial", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.double-input {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
}

@media only screen and (min-width: 568px) {
	.double-input {
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
	}
}