
.help-card {
	display: block;
	position: relative;
	height: 300px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.08);
	padding: 1.5rem;
	max-width: 100%;
	border-radius: 3rem;
	margin-top: 2rem;
	cursor: pointer;
}

.double-help-card {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0 20px;
	margin: 0 auto;
	max-width: 1400px;
	padding: 0 2rem;
}

@media only screen and (min-width: 992px) {
	.double-help-card {
		grid-template-areas:
"firstElement secondElement";
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}

	.help-card-padding {
		padding: 0 !important;
	}
}

.help-card-padding {
	padding: 0 2rem;
}

.help-card img {
	max-width: 150px;
	padding: 1rem;
}

.help-card p {
	line-height: 100%;
	color: #575555;
	padding: 1rem 1rem 1rem 0;
}

.help-card h3 {
	font-weight: 800;
	color: #000000;
}

.help-card:hover {
	outline: 2px solid gray;
}

@media only screen and (min-width: 568px) {
	.help-card p {
		line-height: 150%;
	}

	.help-card {
		padding: 2rem;
	}

}


