.text-lg {
	font-size: 1.425rem;
}

.text-logo-first {
	color: rgb(30 41 59);
	font-weight: 700;
}

.text-logo-second {
	color: rgb(82, 94, 111);
}

.text-nowrap {
	white-space: nowrap;
}

.white-space-pre {
	white-space: pre;
}

.text-gray span {
	font-weight: 600;
	color: #232222;
}

.text-color-gray span {
	font-weight: 600;
	color: #4f4a4a;
}

.text-logo-first-white {
	color: rgb(225, 218, 218);
	font-weight: 700;
}

.text-logo-second-white {
	color: rgb(128, 145, 168);
}

.promo-container {
	background-color: #f9ba19;
	padding: 50px 0;
}

.padding-container {
	padding: 50px 0;
	max-width: 475px;
	margin: 0 auto;
}

.promo-container .subtitle-big {
	font-size: 40px;
	line-height: 60px;
}

.promo-container .subtitle-big span {
	background-color: #212404;
	color: #f9ba19;
	padding: 7px;
}

.promo-container .subtitle-small p {
	margin-top: 30px;
	color: #252728;
}

.header-text {
	font-size: 3rem;
	text-align: center;
}


@media only screen and (min-width: 568px) {
	.header-text {
		font-size: 3.75rem;
		text-align: center;
	}
}

.font-weight-normal {
	font-weight: normal;
}

.popular-tutorial-header h2, h4 {
	font-size: inherit;
}

@media only screen and (max-width: 568px) {
	.popular-tutorial-header h2 {
		font-size: 2rem;
	}

	.popular-tutorial-header h4 {
		font-size: 1.3rem;
	}
}